<div class="container py-5">
  <h2>💪 MASCLEMASTER SNSについて</h2>
  <p class="lead">MASCLEMASTER SNSは、あなたの「筋トレ動画」と「意識しているポイント」に特化した、トレーニーのためのクローズドSNSです。</p>
  
  <h4 class="mt-4">アプリの象徴的な説明（機能要件3）</h4>
  <ul>
    <li>**フォームチェック機能:** 意識ポイントを共有することで、他のユーザーからのフィードバックを得られます。</li>
    <li>**ゲストログイン機能:** 登録なしで、すぐにアプリの投稿を試用できます。</li>
    <li>**種目カテゴリ検索:** 特定の部位や種目に絞って、理想のフォームを検索できます。</li>
  </ul>
  
  <%= link_to 'トップページへ戻る', root_path, class: "btn btn-secondary mt-3" %>
</div>